.navbar{
    mix-blend-mode: screen;
}

.navbar button{
    border-radius: 0;
    border: none !important;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar img{
        width: 50px;
    }

}
