.Projects{
    min-height: 100vh;
    background-color: #090909;
    color: white;
}
.Projects p{
    color: rgba(255, 255, 255, 0.459);
}
.proImg{
    width: 100%;
}
.proDisc p{
    font-size: 1.2rem;
}
.proDisc h3{
    font-weight: 800;
}


